.body {

    width: 100%;

}

.wraper {
    position: relative;
    width: 100%;

}

.fixed {
    position: fixed;
    width: 100%;
    z-index: 100;

}

.header {}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: rgb(218, 135, 35);
}

.container_fixed {}

.header__top {
    display: grid;
    grid-template-columns: 2fr 10fr;

}




.header__logo {
    background-color: rgb(105, 105, 232);
    font-size: 30px;




}

.header__logolink {
    display: block;
    height: 100%;
    padding-top: 20px;

    background-color: aqua;
    text-align: center;




}

.header__logo::selection {
    color: rgb(242, 68, 4)
}


.header__block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    padding: 5px;
    background-color: rgb(39, 211, 211);

}

.header__item {
    background-color: rgb(189, 241, 112);
    border: 1px solid rgb(39, 39, 37);
    font-size: 16px;
    text-align: center;
    padding: 20px;
    font-size: 12px;

    /* margin: 20px; */

    /* display: inline-block;
    width: 89%;
    margin: 0 0 0 -5px; */
}


.nav {}

.nav__menu {
    background-color: rgb(71, 180, 77);
    padding: 0 5px;
}

.menu-nav__items {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: rgb(242, 92, 127);
    padding: 5px;
}

.menu-nav__item {


    background-color: bisque;
    padding: 2px;
    border: 1px solid rgb(11, 10, 10);
}

.menu-nav__link {
    display: block;
    height: 100%;
    background-color: rgb(114, 44, 44);
    color: rgb(235, 225, 225);
    padding: 10px;

}

.menu-nav__link:hover {
    background-color: aqua;
    color: rgb(35, 33, 31);
}

.menu-nav__link:focus {
    background-color: rgb(93, 15, 218);
}







.catalog__top {
    padding-top: 150px;
}



.catalog__wrap {}

.catalog__title {
    padding: 10px;
    background-color: antiquewhite;
    color: #000;
    font-size: 20px;
    text-align: center;

}

.catalog__drop {
    padding: 10px;
    background-color: rgb(139, 230, 108);
    color: #000;
    font-size: 20px;
    text-align: center;
}

.catalog__block {}

.catalog__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;

}

.catalog__item {
    padding: 100px 0;
    background-color: rgb(238, 247, 244);
    text-align: center;
    transition: transform .2s;
}



.catalog__item:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.1);
}


.catalog__card {}



.card-catalog__img {}

.card-catalog__image {
    width: 100%;
}



.card-catalog__title {}








.footer__fixed {
    width: 100%;
    height: 180px;
    background-color: antiquewhite;
}

.footer__items {
    background-color: rgba(0, 0, 0, 0.534);



    /* padding-bottom: 500px; */
    color: rgb(233, 217, 217);
}